button:hover {
    box-shadow: 1px 4px 30px -8px rgba(15,18,15,0.57);

}

/*input:hover,*/
/*input:focus{*/
/*    border: 2px solid black;*/
/*}*/

button {
    cursor:pointer;
    transition:  all 0.6s;
}
#container{
    display: flex;
    border: 2px solid black;
    margin: 20px auto;
    width: 95%;
    min-height: 300px;
    border-radius: 2px;
    position: relative;
}

.change-window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px 70px;
    width: 35%;

}

.change-window button {

    padding: 5px 20px;
    background-color: yellow;
    border: 2px solid #2ca02c2b ;
    border-radius: 2px;
    font-weight: 800;
    letter-spacing: 1.2px;
    font-size: 14.5px;
    margin: 10px auto;


}

/*.change-window  input {*/
/*    width: 100%;*/
/*    height: 30px;*/
/*    border-radius: 2px;*/
/*    border: 2px solid dimgrey;*/
/*    transition:  all 0.6s;*/
/*    padding-left: 7px;*/


/*}*/


/*.change-window input:hover,*/
/*.change-window input:focus{*/
/*    border: 2px solid black;*/
/*    outline: none;*/
/*}*/

label {
    font-weight: 600;
    padding: 0 0 0 10px;
}

#curr-user {
    padding:0 5px;
    text-transform: capitalize;

}

/*/////////////////////////////////////////////////*/












