


#box{
    background: linear-gradient(to bottom, #c31432, #240b36);
    width: 100%;
    min-height: 800px;
   
   
   

}

form input,form input:hover,form input:active{
    
    background-color: rgba(225, 225, 225, 0.8);
    width: 90%;
    z-index: 2;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
    outline: none;
    }

form button {
   
    border: none;
    padding: 10px 0;
    min-width: 110px;
    border-radius: 11px;
    background-color: rgba(231, 54, 121, 0.9);
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

form input:focus {
  
 background-color: rgba(225, 225, 225, 0.8);
    color: black;
    border-color:  dimgrey;
    font-weight: 500;
    border: 2px solid dimgrey;
}

form {
    padding: 8% 0 18% 0;
    margin:  0 auto;
    width: 25%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    line-height: 1.4;
    background: #1f2226;
    font-family: 'Patua One', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#logBtn_wrapper {
    width:75%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

#label {
     position: absolute;
    font-size: 33px;
    font-weight: 600;
    color: white;
    top: 22%;
    left: 39%;
    letter-spacing: 3px;
    font-family: 'Lora', serif;
}